<?xml version="1.0"?>
<settings>

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <servers>
    <server>
      <id>ca.anypoint.credentials</id>
      <username>${env.CA_CLIENT_ID}</username>
    <password>${env.CA_CLIENT_SECRET}</password>
    </server>
  </servers>

</settings>
